<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Grid Portal MyGet Source" value="https://www.myget.org/F/grid-portal-infrastructure/auth/e5bb1dde-d6f4-4385-aba8-c29dc1b93fd2/api/v3/index.json" />
  </packageSources>  
</configuration>